## Ignore Visual Studio temporary files, build results, and
/Presentation/Nop.Web/wwwroot/images/thumbs
*/bin/*
*/obj/*
.vs/*
*.json
*.[Cc]ache
src/Presentation/Nop.Web/Content/
src/.vs
/Presentation/Nop.Web/Plugins/*
/Plugins/*
/Libraries/*
/Presentation/*
/Presentation/Nop.Web/*
/Tests/*
/Presentation/Nop.Web/wwwroot/*
/Libraries/Nop.Services/*