/Presentation/Nop.Web/wwwroot/images/thumbs
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
*/bin/*
*/obj/*
.vs/*
*.json
*.[Cc]ache
src/Presentation/Nop.Web/Content/
src/.vs
/Presentation/Nop.Web/Plugins/*
Plugins/*
Libraries/*
Presentation/*
Presentation/Nop.Web/*
Tests/*
Presentation/Nop.Web/wwwroot/*
Libraries/Nop.Services/*
*.json
*.cache
src/Presentation/Nop.Web/Content/
src/.vs