@model InstallmentModel
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugins.Payments.GarantiPos.Installment").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Installments");
}

<form asp-controller="PaymentGarantiPos" asp-action="InstallmentCreate" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Plugins.Payments.GarantiPos.Installment.AddNew")
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="List" asp-controller="PaymentGarantiPos">@T("Plugins.Payments.GarantiPos.BackToList")</a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Payments.GarantiPos/Views/Installment/_CreateOrUpdate.cshtml", Model)
</form>