@model ConfigurationModel
@await Component.InvokeAsync("StoreScopeConfiguration")
@{ Layout = "_ConfigurePlugin"; }
<form asp-controller="PaymentGarantiPos" asp-action="Configure" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-header">
                <p>
                    Bir sorunla karşılasırsanız lütfen arayın.
                </p>
            </div>
        </div>
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Enable"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Enable"/>
                        <span asp-validation-for="Enable"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="TerminalId"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalId"/>
                        <span asp-validation-for="TerminalId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="MerchantId"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="MerchantId"/>
                        <span asp-validation-for="MerchantId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="StoreKey"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="StoreKey"/>
                        <span asp-validation-for="StoreKey"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Password"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Password"/>
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="TerminalProvUserId"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalProvUserId"/>
                        <span asp-validation-for="TerminalProvUserId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="TerminalUserId"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TerminalUserId"/>
                        <span asp-validation-for="TerminalUserId"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Email"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Email"/>
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="CompanyName"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="CompanyName"/>
                        <span asp-validation-for="CompanyName"></span>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="BankUrl"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="BankUrl"/>
                        <span asp-validation-for="BankUrl"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFee"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFee"/>
                        <span asp-validation-for="AdditionalFee"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="AdditionalFeePercentage"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="AdditionalFeePercentage"/>
                        <span asp-validation-for="AdditionalFeePercentage"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Installment"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Installment"/>
                        <span asp-validation-for="Installment"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="TestMode"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="TestMode"/>
                        <span asp-validation-for="TestMode"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="SecurityLevel"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="SecurityLevel"/>
                        <span asp-validation-for="SecurityLevel"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="Version"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Version"/>
                        <span asp-validation-for="Version"></span>
                    </div>
                </div> 
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-label asp-for="NopCommerceNumber"/>
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="NopCommerceNumber"/>
                        <span asp-validation-for="NopCommerceNumber"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-9 offset-md-3">
                        <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>