@model BankBinModel

<div asp-validation-summary="ModelOnly"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CardType" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CardType" asp-required="true" />
                                <span asp-validation-for="CardType"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="BankCode" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BankCode" asp-required="true" />
                                <span asp-validation-for="BankCode"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="BinNumber" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BinNumber" asp-required="true" />
                                <span asp-validation-for="BinNumber"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="Product" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Product"  />
                                <span asp-validation-for="Product"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="CardAssociation" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CardAssociation" />
                                <span asp-validation-for="CardAssociation"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="BankName" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="BankName" asp-required="true" />
                                <span asp-validation-for="BankName"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="InstallmentInd" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="InstallmentInd" />
                                <span asp-validation-for="InstallmentInd"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>