@model BankBinSearchModel
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugins.Payments.GarantiPos.BankBin").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("BankBin");
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Payments.GarantiPos.BankBin")
    </h1>
    <div class="float-right">
        <a asp-action="Create" asp-controller="PaymentGarantiPos" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <!-- Search card -->
                <div class="card card-default card-search">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="BinNumber" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="BinNumber" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="CardType" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="CardType" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="Product" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="Product" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="BankCode" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="BankCode" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="CardAssociation" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="CardAssociation" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="BankName" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="BankName" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <nop-label asp-for="InstallmentInd" />
                                    </div>
                                    <div class="col-md-8">
                                        <nop-editor asp-for="InstallmentInd" />
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" id="search-bankbin" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Grid card -->
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                          Name = "bankbin-grid",
                          UrlRead = new DataUrl("BankBinList", "PaymentGarantiPos", null),
                          SearchButtonId = "search-bankbin",
                          Length = Model.PageSize,
                          LengthMenu = Model.AvailablePageSizes,
                          Filters = new List<FilterParameter>
                          {
                              new FilterParameter(nameof(Model.BinNumber)),
                              new FilterParameter(nameof(Model.BankCode)),
                              new FilterParameter(nameof(Model.CardType)),
                              new FilterParameter(nameof(Model.Product)),
                              new FilterParameter(nameof(Model.CardAssociation)),
                              new FilterParameter(nameof(Model.BankName)),
                              new FilterParameter(nameof(Model.InstallmentInd))
                          },
                          ColumnCollection = new List<ColumnProperty>
                          {
                              new ColumnProperty(nameof(BankBinModel.BinNumber))
                              {
                                  Title = T("Plugins.Payments.PaymentGarantiPos.BankBin.BinNumber").Text,
                                  Width = "150"
                              },
                              new ColumnProperty(nameof(BankBinModel.CardType))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.CardType").Text,
                                  Width = "120"
                              },
                              new ColumnProperty(nameof(BankBinModel.BankCode))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.BankCode").Text,
                                  Width = "120"
                              },
                              new ColumnProperty(nameof(BankBinModel.Product))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.Product").Text,
                                  Width = "140"
                              },
                              new ColumnProperty(nameof(BankBinModel.CardAssociation))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.CardAssociation").Text,
                                  Width = "160"
                              },
                              new ColumnProperty(nameof(BankBinModel.BankName))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.BankName").Text,
                                  Width = "180"
                              },
                              new ColumnProperty(nameof(BankBinModel.InstallmentInd))
                              {
                                  Title = T("Plugins.Payments.GarantiPos.Field.InstallmentInd").Text,
                                  Width = "140"
                              },
                              new ColumnProperty(nameof(BankBinModel.Id))
                              {
                                  Title = T("Admin.Common.Edit").Text,
                                  Width = "80",
                                  ClassName =  NopColumnClassDefaults.Button,
                                  Render = new RenderButtonEdit(new DataUrl("Edit"))
                              }
                          }
                        })

                        <script>
                            $(function () {
                                // trigger search when pressing Enter inside any input/select/textarea within the search card
                                $(document).on('keydown', '.card-search input, .card-search select, .card-search textarea', function (e) {
                                    if (e.key === 'Enter') {
                                        e.preventDefault();
                                        $('#search-bankbin').click();
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>