@model BankBinSearchModel
@{
    Layout = "_AdminLayout";
    //page title
    ViewBag.PageTitle = T("Plugins.Payments.GarantiPos.BankBin").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("BankBin");
}
<div class="content-header clearfix">
    <h1 class="float-left">
        @T("Plugins.Payments.GarantiPos.BankBin")
    </h1>
    <div class="float-right">
        <a asp-action="Create" asp-controller="PaymentGarantiPos" class="btn btn-primary">
            <i class="fas fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <div class="cards-group">
                <div class="card card-default">
                    <div class="card-body">
                        @await Html.PartialAsync("Table", new DataTablesModel
                        {
                          Name = "bankbin-grid",
                        UrlRead = new DataUrl("BankBinList", "PaymentGarantiPos", null),
                          Length = Model.PageSize,
                          LengthMenu = Model.AvailablePageSizes,
                            ColumnCollection = new List<ColumnProperty>
                            {
                                new ColumnProperty(nameof(BankBinModel.BinNumber))
                                {
                                    Title = T("Plugins.Payments.PaymentGarantiPos.BankBin.BinNumber").Text,
                                    Width = "300"
                                },
                                new ColumnProperty(nameof(BankBinModel.CardAssociation))
                                {
                                    Title = T("Plugins.Payments.PaymentGarantiPos.BankBin.CardAssociation").Text,
                                    Width = "300",

                                },
                                new ColumnProperty(nameof(BankBinModel.Id))
                                {
                                    Title = T("Admin.Common.Edit").Text,
                                    Width = "50",
                                    ClassName =  NopColumnClassDefaults.Button,
                                    Render = new RenderButtonEdit(new DataUrl("Edit"))
                                }
                            }
                        })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>